body{
    margin: 0 30% 0 30%;
}div{
    margin-bottom: 5%;
}
.borda{
    border: 5px solid blue;
    padding: 5%;
}
.b1{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    border: 15px solid red;
    background-color: rgba(143, 188, 143, 0.445);
}
.b2{
    padding: 10px;
    border: 25px solid blue;
    background-color: rgba(218, 172, 113, 0.753);
    font-size: 30px;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom:4%; 
    padding-left: 4%;
}

.b3{
    border:8px solid rgb(255, 0, 179);
    background-color: rgba(255, 255, 0, 0.363);
    text-align: justify;
    font-size: 25px;  
    padding: 10px;
}

.b4{
    border: 3px solid blue;
    font-size: 25px;
    background-color: rgba(0, 255, 255, 0.336);
    text-align: justify;
    padding: 20px;
}


