body{
    color: #ccbb99;
    margin-left: 16%;
    margin-right: 16%;
    font-family:Arial, Helvetica, sans-serif;
}
.margemcima{
    margin-top: 1px;
}
hr{
    width: 100%;
    height: 1px;
    color: white;
    background-color: #ccbb99;
}
.textcima{
    text-align: right;
    background-color: #ccbb99;
    color: black;
}
.textmeio{
    text-align:justify;
    font-size:20px;
    font-weight: bold;
    text-indent: 5%;
}

.textofinal{
    text-align: left;
    color: black;
    background-color:#ccbb99;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;

}
