body{
    width: 100%;
    height: 100%;
    position: relative;
    
}
div{
    text-align: center;
    width: 90%;
    position: absolute;
    left: 3%;
    top: 120px;

}


input{
    margin-bottom: 5%;
    border: none;
    border-bottom: 1px solid black;
    width: 30%;
    
}

button{
    color: white;
    background-color: rgba(10, 140, 10, 0.59);
    width: 20%;
    height: 35PX;
    border-width: 1px;
    border-radius: 100px;
    border-color: lightseagreen;
    box-shadow: 3px 4px 4px 0px  green;
}
input:focus{
    box-shadow: 0 0 0 0;
    border: 0 1px 0 0 none;
    outline: 0;
} 

ul{
    color: green;
    margin-top: 10%;
    display: inline-block;
}
/*